@import "variables.css";

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 10px;
  color: var(--font-color);
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.navbar__logo img {
  width: 40px;
}

.navbar__menu,
.navbar__icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar__menu li,
.navbar__icons li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  top: 16px;
  font-size: 20px;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__logo {
    justify-content: flex-start;
    width: 100%;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
